<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Excuron.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <Excuron.Properties.Settings>
            <setting name="UserID" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="logged" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="numberOfWallets" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NewUser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CurrentWalletID" serializeAs="String">
                <value>-1</value>
            </setting>
        </Excuron.Properties.Settings>
    </userSettings>
</configuration>
